.form-inline{
	display: inline;
}
.form{
	label{
		display: block;
		font-weight: bold;
	}
	input[type="text"], input[type="number"], input[type="password"], textarea, select{
		display: block;
		width: 100%;
	} 
	.input-group{
		margin-bottom: 1em;
	}
	textarea{
		max-width: 100%;
	}
}

