* {
  box-sizing: border-box; }

body, html {
  padding: 0;
  margin: 0;
  height: 100%; }

img {
  max-width: 100%; }

.clearfix:after {
  content: '';
  clear: both;
  display: table; }

.container {
  width: 900px;
  max-width: 100%;
  margin: 0 auto; }

.row:after {
  content: '';
  clear: both;
  display: table; }

.col-1 {
  float: left;
  position: relative;
  width: 8.33333%;
  padding-left: 1em;
  padding-right: 1em; }

.col-push-1 {
  left: 8.33333%; }

.col-pull-1 {
  left: -8.33333%; }

.col-offset-1 {
  margin-left: 8.33333%; }

.col-2 {
  float: left;
  position: relative;
  width: 16.66667%;
  padding-left: 1em;
  padding-right: 1em; }

.col-push-2 {
  left: 16.66667%; }

.col-pull-2 {
  left: -16.66667%; }

.col-offset-2 {
  margin-left: 16.66667%; }

.col-3 {
  float: left;
  position: relative;
  width: 25%;
  padding-left: 1em;
  padding-right: 1em; }

.col-push-3 {
  left: 25%; }

.col-pull-3 {
  left: -25%; }

.col-offset-3 {
  margin-left: 25%; }

.col-4 {
  float: left;
  position: relative;
  width: 33.33333%;
  padding-left: 1em;
  padding-right: 1em; }

.col-push-4 {
  left: 33.33333%; }

.col-pull-4 {
  left: -33.33333%; }

.col-offset-4 {
  margin-left: 33.33333%; }

.col-5 {
  float: left;
  position: relative;
  width: 41.66667%;
  padding-left: 1em;
  padding-right: 1em; }

.col-push-5 {
  left: 41.66667%; }

.col-pull-5 {
  left: -41.66667%; }

.col-offset-5 {
  margin-left: 41.66667%; }

.col-6 {
  float: left;
  position: relative;
  width: 50%;
  padding-left: 1em;
  padding-right: 1em; }

.col-push-6 {
  left: 50%; }

.col-pull-6 {
  left: -50%; }

.col-offset-6 {
  margin-left: 50%; }

.col-7 {
  float: left;
  position: relative;
  width: 58.33333%;
  padding-left: 1em;
  padding-right: 1em; }

.col-push-7 {
  left: 58.33333%; }

.col-pull-7 {
  left: -58.33333%; }

.col-offset-7 {
  margin-left: 58.33333%; }

.col-8 {
  float: left;
  position: relative;
  width: 66.66667%;
  padding-left: 1em;
  padding-right: 1em; }

.col-push-8 {
  left: 66.66667%; }

.col-pull-8 {
  left: -66.66667%; }

.col-offset-8 {
  margin-left: 66.66667%; }

.col-9 {
  float: left;
  position: relative;
  width: 75%;
  padding-left: 1em;
  padding-right: 1em; }

.col-push-9 {
  left: 75%; }

.col-pull-9 {
  left: -75%; }

.col-offset-9 {
  margin-left: 75%; }

.col-10 {
  float: left;
  position: relative;
  width: 83.33333%;
  padding-left: 1em;
  padding-right: 1em; }

.col-push-10 {
  left: 83.33333%; }

.col-pull-10 {
  left: -83.33333%; }

.col-offset-10 {
  margin-left: 83.33333%; }

.col-11 {
  float: left;
  position: relative;
  width: 91.66667%;
  padding-left: 1em;
  padding-right: 1em; }

.col-push-11 {
  left: 91.66667%; }

.col-pull-11 {
  left: -91.66667%; }

.col-offset-11 {
  margin-left: 91.66667%; }

.col-12 {
  float: left;
  position: relative;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em; }

.col-push-12 {
  left: 100%; }

.col-pull-12 {
  left: -100%; }

.col-offset-12 {
  margin-left: 100%; }

[class*="col-"] {
  border: 1px solid #cccccc;
  background: #e6e6e6; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.form-inline {
  display: inline; }

.form label {
  display: block;
  font-weight: bold; }

.form input[type="text"], .form input[type="number"], .form input[type="password"], .form textarea, .form select {
  display: block;
  width: 100%; }

.form .input-group {
  margin-bottom: 1em; }

.form textarea {
  max-width: 100%; }

.button,
input[type="submit"],
button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #009BDD;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 3px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 2px;
  color: white;
  text-decoration: none; }
  .button:hover, .button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  button:hover,
  button:focus {
    background: #44c7ff; }

.media {
  display: table; }

.media__image, .media__description {
  display: table-cell;
  vertical-align: middle; }

.media__image {
  width: 33.33333%; }
  .media__image img {
    width: 100%; }

.media__description {
  padding-left: 1em;
  width: 66.66667%;
  display: table-cell; }

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-unstyled > li {
    padding: 0;
    margin: 0; }

.modal__backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); }
  .modal__backdrop.modal--visible {
    display: block; }

.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  width: 600px;
  max-height: 80vh;
  background: white;
  margin: auto auto;
  padding: 1em;
  overflow-y: auto; }

.card {
  position: relative;
  background: white;
  padding: 1em .5em .5em;
  margin-bottom: 2em; }
  .card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .5em; }
  .card:nth-child(4n):after {
    background: #1d2b53; }
  .card:nth-child(4n+1):after {
    background: #7e2553; }
  .card:nth-child(4n+2):after {
    background: #ff004d; }
  .card:nth-child(4n+3):after {
    background: #fff024; }

.card-list {
  margin: 0;
  padding: 1em;
  list-style: none; }

.card-list__horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .card-list__horizontal .card {
    width: calc( 33% - 2em);
    margin-left: 1em;
    margin-right: 1em; }

header {
  padding: 20px 10px; }

.header-title {
  font-size: 48px; }

.header-lead {
  font-size: 24px; }

.sidebar-section {
  margin-bottom: .5em; }

.sidebar-section__title {
  text-decoration: uppercase;
  background: #324318;
  color: white;
  padding: 3px; }
